<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> -->
</head>
<body>
    <!-- <h1>HOLA ALEJANDROOOO</h1> -->
    <!-- <div class="row g-0 text-center  bg-secondary  align-items-center">
        <div class="col-sm-2 col-md-8  align-items">
            <div class="input-group mb-3 m-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Url de Pagina de Facebook</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
        </div>
        <div class="col-6 col-md-4">
            <button type="button" class="btn btn-primary" >Primary</button>
        </div>
    </div> -->

        <div class="row">
            
    <div class="col-md-4" >
        <form action="/facebook_scraping_post" method="POST">
            <input type="text" name="link_facebook" placeholder="Link post de facebook">
            <button type="submit">
                Escanear post
            </button>
        </form>
        <form action="/facebook_scraping_page" method="POST">
            <input type="text" name="link_facebook" placeholder="Solamente pagina de facebook NO LINK">
            <input type="text" name="limit_post" placeholder="numero de post a Escanear">
            <button type="submit">
                Escanear pagina
            </button>
        </form>
    </div>
            <div class="col-md-7">
                <table class="table table-striped table-hover table-bordered table-sm bg-whit">
                    <thead>
                        <tr>
                            <td>post_id</td>
                            <td>text</td>
                            <td>post_text</td>
                            <td>shared_text</td>
                            <td>original_text</td>
                            <td>time</td>
                            <td>timestamp</td>
                            <td>image</td>
                            <td>image_lowquality</td>
                            <td>images</td>
                            <td>images_description</td>
                            <td>images_lowquality</td>
                            <td>images_lowquality_description</td>
                            <td>video</td>
                            <td>video_duration_seconds</td>
                            <td>video_height</td>
                            <td>video_id</td>
                            <td>video_quality</td>
                            <td>video_size_MB</td>
                            <td>video_thumbnail</td>
                            <td>video_watches</td>
                            <td>video_width</td>
                            <td>likes</td>
                            <td>comments</td>
                            <td>shares</td>
                            <td>post_url</td>
                            <td>link</td>
                            <td>links</td>
                            <td>user_id</td>
                            <td>username</td>
                            <td>user_url</td>
                            <td>is_live</td>
                            <td>factcheck</td>
                            <td>shared_post_id</td>
                            <td>shared_time</td>
                            <td>shared_user_id</td>
                            <td>shared_username</td>
                            <td>shared_post_url</td>
                            <td>available</td>
                            <td>comments_full</td>
                            <td>reactors</td>
                            <td>w3_fb_url</td>
                            <td>reactions</td>
                            <td>reaction_count</td>
                            <td>with_</td>
                            <td>page_id</td>
                            <td>sharers</td>
                            <td>image_id</td>
                            <td>image_ids</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for post in posts %}
                        <tr>
                            {% for x in post %}
                                <td >{{x}}</td>
                            {% endfor %}
                        </tr>
            
                        
                        <!-- <tr>
                            <td>{{post.1}}</td>
                            <td>{{post.2}}</td>
                            <td>{{post.3}}</td>
                            <td>{{post.4}}</td>
                            <td>{{post.5}}</td>
                            <td>{{post.6}}</td>
                            <td>{{post.7}}</td>
                            <td>{{post.8}}</td>
                            <td>{{post.9}}</td>
                            <td>{{post.10}}</td>
                            <td>{{post.11}}</td>
                            <td>{{post.12}}</td>
                            <td>{{post.13}}</td>
                            <td>{{post.14}}</td>
                            <td>{{post.15}}</td>
                            <td>{{post.16}}</td>
                            <td>{{post.17}}</td>
                            <td>{{post.18}}</td>
                            <td>{{post.19}}</td>
                            <td>{{post.20}}</td>
                            <td>{{post.21}}</td>
                            <td>{{post.22}}</td>
                            <td>{{post.23}}</td>
                            <td>{{post.24}}</td>
                            <td>{{post.25}}</td>
                            <td>{{post.26}}</td>
                            <td>{{post.27}}</td>
                            <td>{{post.28}}</td>
                            <td>{{post.29}}</td>
                            <td>{{post.30}}</td>
                            <td>{{post.31}}</td>
                            <td>{{post.32}}</td>
                            <td>{{post.33}}</td>
                            <td>{{post.34}}</td>
                            <td>{{post.35}}</td>
                            <td>{{post.36}}</td>
                            <td>{{post.37}}</td>
                            <td>{{post.38}}</td>
                            <td>{{post.39}}</td>
                            <td>{{post.40}}</td>
                            <td>{{post.41}}</td>
                            <td>{{post.42}}</td>
                            <td>{{post.43}}</td>
                            <td>{{post.44}}</td>
                            <td>{{post.45}}</td>
                            <td>{{post.46}}</td>
                            <td>{{post.47}}</td>
                            <td>{{post.48}}</td>
                            <td>{{post.49}}</td>
                        </tr> -->
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    
</body>
</html>